.about-text {
  padding: 0 7.5%;

    h3 {
      margin: 0 auto;
      padding: 10px 0;

      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
    }

    b {
      color: #888888;
    }

    p {
      margin-bottom: 0;

      line-height: 30px;
      text-align: justify;
      text-indent: 15px;
    }

    .about-text__wrapper {
      padding: 15px 0 30px;
    }
}

@media(min-width: 660px) {
  .about-text {
    h3 {
      width: 350px;
      br {
        display: none;
      }
    }
  }
}

@media(min-width: 1024px) {
  .about-text {
    h3 {
      width: 700px;
    }
  }
}
@media(min-width: 1200px) {
  .about-text {
    width: 40%;
    padding: 0 3.5%;
    margin-left: auto;
    // border: 10px solid white;
    h3 {
      width: 440px;
      color: #ffffff;
    }
    b {
      color: #000000;
    }
    p {
      color: #ffffff;
    }
  }
}
