.about-text {
  padding: 0 7.5%;

    h3 {
      margin: 0 auto;
      padding: 10px 0;

      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      text-align: center;
    }

    b {
      color: #888888;
    }

    p {
      margin-bottom: 0;

      line-height: 30px;
      text-align: justify;
      text-indent: 15px;
    }

    .about-text__wrapper {
      padding: 15px 0 30px;
    }
}

@media(min-width: 660px) {
  .about-text {
    h3 {
      width: 350px;
      br {
        display: none;
      }
    }
  }
}

@media(min-width: 1024px) {
  .about-text {
    h3 {
      width: 700px;
    }
  }
}
@media(min-width: 1200px) {
  .about-text {
    background-color: #ffffff;
    box-shadow: inset 0px 3px 13px -5px rgba(50, 50, 50, 0.75);
    h3 {
      width: 440px;
    }
  }
}

@media(min-width: 2560px) {
  .about-text {
    h3 {
      width: 560px;
      font-size: 28px;
    }

    p {
      font-size: 20px;
    }
  }
}
