$Loader-color: #fff;
$Loader-size: 12.6rem;
$Loader-offset: 1.7rem;
$Loader-timing: ease-in-out;

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: #191919;
  transition: 1s all;

  z-index: 999;
  opacity: 1;
  visibility: visible;

  &.done {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $Loader-size;
  margin-top: $Loader-size/2;
  margin-bottom: $Loader-size/2;
  &:before,
  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: $Loader-timing;
    filter: drop-shadow(0 0 $Loader-offset/2.25 rgba($Loader-color, 0.75));
  }
  &:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 $Loader-offset $Loader-color;
    animation-name: pulsA;
  }
  &:after {
    width: calc(100% - #{$Loader-offset}*2);
    padding-bottom: calc(100% - #{$Loader-offset}*2);
    box-shadow: 0 0 0 0 $Loader-color;
    animation-name: pulsB;
  }
}

@keyframes pulsA {
  0% { box-shadow: inset 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
  50%, 100% { box-shadow: inset 0 0 0 0 $Loader-color; opacity: 0; }
}

@keyframes pulsB {
  0%, 50% { box-shadow: 0 0 0 0 $Loader-color; opacity: 0; }
  100% { box-shadow: 0 0 0 $Loader-offset $Loader-color; opacity: 1; }
}

@media(min-width:320px) {
  .loader {
    display: none;
  }

$size:1.4em;
$dotCount:10;
$animationTime:2.5s;

.peeek-loading{
	background-color: #191919;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}
.peeek-loading ul{
	position: absolute;
	left: calc(50% - 0.7em);
	top: calc(50% - 4.2em);
	display: inline-block;
	text-indent:$size*2;
}
.peeek-loading ul li:after,
.peeek-loading ul:after{
	width: $size;
	height: $size;
	background-color: #fff;
	border-radius: 100%;
}
.peeek-loading ul li:after,
.peeek-loading ul:after{
	content:"";
	display: block;
}
.peeek-loading ul:after{
	position: absolute;
	top: $size*2;
}
.peeek-loading li{
	position: absolute;
	padding-bottom: $size*4;
	top: 0;
	left: 0;
}

// Creating Circle and Animation Delay
@for $i from 1 through 10{
  .peeek-loading li:nth-child(#{$i}){
	  $deg:($i - 1)*(360deg/$dotCount);
	  transform: rotate($deg);
	  animation-delay: $animationTime*$i/$dotCount/2;
  }
  .peeek-loading li:nth-child(#{$i}):after{
	  animation-delay: $animationTime*$i/$dotCount/2;
  }
}

// Animations
.peeek-loading li{
  animation: dotAnimation $animationTime infinite;
}
@keyframes dotAnimation {
0%, 55%, 100%    {
	padding: 0 0 $size*4 0;
	}
5%,50%   {
	padding: $size*2 0;
	}
}

.peeek-loading li:after{
  animation: dotAnimationTwo $animationTime infinite;
}
@-webkit-keyframes dotAnimationTwo {
0%, 55%, 100%   {
	opacity:1;
	transform: scale(1);
	}
5%,50%  {
	opacity: .5;
	transform: scale(0.5);
	}
}
}

@media(min-width:660px) {
  $size: 2em;

  .peeek-loading ul{
  	text-indent:$size*2;
  }
  .peeek-loading ul li:after,
  .peeek-loading ul:after{
  	width: $size;
  	height: $size;
  }
  .peeek-loading ul:after{
  	top: $size*2;
  }
  .peeek-loading li{
  	padding-bottom: $size*4;
  }
  @keyframes dotAnimation {
  0%, 55%, 100%    {
  	padding: 0 0 $size*4 0;
  	}
  5%,50%   {
  	padding: $size*2 0;
  	}
  }
}

@media(min-width:1200px) {
  $Loader-size: 17.6rem;
  .loader {
    display: flex;
    max-width: $Loader-size;
    margin-top: $Loader-size/2;
    margin-bottom: $Loader-size/2;
  }
  .peeek-loading {
    display: none;
  }
}
