.skills {
  padding: 0 7.5%;

  background-color: #191919;
  color: #ffffff;

    h3 {
      margin: 0;
      padding: 10px 0;

      font-weight: 400;
      font-size: 24px;
      text-align: center;
    }
}

.skills__list {
  padding: 15px 0;
}
.skills__item {
  position: relative;

  margin-bottom: 16px;
  padding-left: 25px;

  line-height: 24px;

    &::after {
      content: "";

      position: absolute;
      left: 2px;
      top: 8px;

      width: 10px;
      height: 10px;

      background-color: #ffffff;
      transform: rotate(45deg);

    }
}

@media(min-width: 660px) {
  .skills {
    background-image: url(../../img/skills-bg.png);
    background-size: 300px;
    background-position: 96% 5%;
    background-repeat: no-repeat;

    h3 {
      margin: 0 auto;
    }
  }
}

@media(min-width: 768px) {
  .skills {
    background-image: none;
  }
  .skills__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
  }

  .skills__item {
    width: 295px;
  }
}

@media(min-width: 1024px) {
  .skills__list {
    justify-content: flex-start;
    width: 870px;
    margin: 0 auto;
  }

  .skills__item {
    width: 265px;
  }
}

@media(min-width: 1199px) {
  .skills {
    height: 100%;
    position: relative;
    h3 {
      font-size: 50px;
      margin-bottom: 60px;
    }
  }
  .skills__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .skills__list {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .skills__item {
    width: 400px;
    font-size: 24px;
  }
}
