::-moz-selection {
    color: #fff;
    background-color: #191919
}

::selection {
    color: #fff;
    background-color: #191919
}

@font-face {
    font-family: Oswald;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url(../../fonts/oswald-v16-latin_cyrillic-regular.woff2) format("woff2"), url(../../fonts/oswald-v16-latin_cyrillic-regular.woff) format("woff")
}

@font-face {
    font-family: Oswald;
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    src: local("Oswald Medium"), local("Oswald-Medium"), url(../../fonts/oswald-v16-latin_cyrillic-500.woff2) format("woff2"), url(../../fonts/oswald-v16-latin_cyrillic-500.woff) format("woff")
}

body {
    font-family: Oswald, Arial, sans-serif;
    margin: 0;
    padding: 0
}

a,
button,
input {
    font: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

img {
    max-width: 100%;
    height: auto
}

p {
    font-size: 18px;
    line-height: 27px
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a:visited {
    color: inherit
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

@media (max-width:1200px) {
    .section {
        height: auto !important
    }

    .section>div {
        height: auto !important
    }
}

@media (min-width:1199px) {
    .section-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        padding: 0 7.5%;
        background-image: url(../../img/photo-bg.jpg);
        background-color: #2a2a2a;
        background-size: cover
    }
}

.main-header {
    box-sizing: border-box;
    height: 75px;
    padding-top: 15px;
    box-shadow: 0 -4px 12px 1px #000
}

.main-header img {
    display: block;
    width: 190px;
    margin: 0 auto
}

@media (min-width:425px) {
    .main-header {
        height: 80px
    }

    .main-header img {
        width: 210px
    }
}

@media (min-width:768px) {
    .main-header {
        height: 100px;
        padding-top: 25px
    }

    .main-header img {
        width: 240px
    }
}

@media (min-width:1199px) {
    .main-header {
        display: none
    }
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media (min-width:1199px) {
    .photo {
        font-size: 0;
        width: 30%;
        border: 10px solid #fff
    }
}

.skills {
    padding: 0 7.5%;
    background-color: #191919;
    color: #fff
}

.skills h3 {
    margin: 0;
    padding: 10px 0;
    font-weight: 400;
    font-size: 24px;
    text-align: center
}

.skills__list {
    padding: 15px 0
}

.skills__item {
    position: relative;
    margin-bottom: 16px;
    padding-left: 25px;
    line-height: 24px
}

.skills__item::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg)
}

@media (min-width:660px) {
    .skills {
        background-image: url(../../img/skills-bg.png);
        background-size: 300px;
        background-position: 96% 5%;
        background-repeat: no-repeat
    }

    .skills h3 {
        margin: 0 auto
    }
}

@media (min-width:768px) {
    .skills {
        background-image: none
    }

    .skills__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 400px
    }

    .skills__item {
        width: 295px
    }
}

@media (min-width:1024px) {
    .skills__list {
        justify-content: flex-start;
        width: 870px;
        margin: 0 auto
    }

    .skills__item {
        width: 265px
    }
}

@media (min-width:1199px) {
    .skills {
        height: 100%;
        position: relative
    }

    .skills h3 {
        font-size: 50px;
        margin-bottom: 20px
    }

    .skills__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .skills__list {
        width: 100%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly
    }

    .skills__item {
        width: 400px;
        font-size: 24px
    }
}

.slider1 input[type=radio] {
    display: none
}

.slider1-controls {
    position: absolute;
    bottom: 7px;
    left: 50%;
    z-index: 10;
    margin-left: -18px
}

.slider1-controls label {
    display: inline-block;
    position: relative;
    width: 5px;
    height: 5px;
    background: #000;
    border: 5px solid #fff;
    border-radius: 50%;
    cursor: pointer
}

.slide1 {
    display: none
}

#btn-1:checked~.slides1 .slide1:nth-child(1) {
    display: block
}

#btn-2:checked~.slides1 .slide1:nth-child(2) {
    display: block
}

#btn-1:checked~.slider1-controls label[for=btn-1],
#btn-2:checked~.slider1-controls label[for=btn-2] {
    background: #000;
    border: 5px solid #000
}

.jobs {
    padding: 0 7.5%;
    padding-bottom: 15px;
    position: relative
}

.jobs h3 {
    margin: 0;
    padding: 25px 0;
    font-weight: 400;
    font-size: 24px;
    text-align: center
}

.jobs__item {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #eee;
    width: 272px;
    margin: 0 auto;
    margin-bottom: 20px
}

.jobs__item a {
    color: inherit;
    text-decoration: none;
    transition: 2s
}

.jobs__item a:hover img {
    transform: scale(1.05);
    transition: 2s
}

.jobs__photo {
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: hidden
}

.jobs__info {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background-color: #00000080;
    color: #fff;
    transition: 2s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center
}

.jobs__info p {
    padding: 0 2px;
    ;
    margin: 0 auto;
    text-align: center;
    background-color: #000
}

.jobs__item:hover .jobs__info {
    opacity: 1
}

.photo__block {
    border-top: 1px solid #eee;
    background-color: #f2f2f2
}

.photo__block p {
    margin: 0;
    padding: 10px 0;
    text-align: center
}

@media (min-width:660px) {
    .jobs {
        padding: 0 4%
    }

    .jobs h3 {
        margin: 0 auto
    }

    .jobs__wrapper {
        width: 605px;
        margin: 0 auto;
        padding-bottom: 15px
    }

    .jobs__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .jobs__item {
        margin: 15px;
        margin-bottom: 20px
    }
}

@media (min-width:1024px) {
    .jobs__wrapper {
        width: 870px;
        padding-bottom: 5px
    }

    .jobs__list {
        justify-content: center;
        margin-bottom: 20px
    }

    .jobs__item {
        width: 385px;
        margin: 10px
    }
}

@media (min-width:1199px) {
    .jobs {
        height: 100%
    }

    .jobs h3 {
        font-size: 50px;
        padding: 10px 0;
        margin-bottom: 10px
    }

    .jobs__photo {
        height: 273px;
        height: 203px
    }

    .jobs__info {
        height: 273px;
        height: 203px
    }

    .jobs__list {
        justify-content: center;
        width: 100%;
        height: 100%;
        max-height: 750px;
        margin: 0 auto;
        padding-bottom: 40px
    }

    .jobs__wrapper {
        flex-direction: column;
        height: 100%
    }

    .jobs__item {
        width: 382px;
        height: 322px;
        height: 253px;
        margin: 10px 10px 0
    }

    #btn-1:checked~.slides1 .slide1:nth-child(1) {
        display: flex
    }

    #btn-2:checked~.slides1 .slide1:nth-child(2) {
        display: flex
    }

    .slider1 {
        height: 100%
    }

    .slides1 {
        height: 100%
    }
}

@media (min-width:1350px) and (min-height:680px) {
    .jobs__photo {
        height: 203px
    }

    .jobs__info {
        height: 203px
    }

    .jobs__item {
        height: 253px
    }
}

@media (min-width:1424px) and (min-height:812px) {
    .jobs__photo {
        height: 273px
    }

    .jobs__info {
        height: 273px
    }

    .jobs__item {
        height: 322px
    }
}

@media (min-height:850px) {
    .jobs h3 {
        margin-bottom: 5%
    }
}

.about-text {
    padding: 0 7.5%
}

.about-text h3 {
    margin: 0 auto;
    padding: 10px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center
}

.about-text p {
    margin-bottom: 0;
    line-height: 30px;
}

.about-text .about-text__wrapper {
    padding: 15px 0 30px
}

@media (min-width:660px) {
    .about-text h3 {
        width: 350px
    }

    .about-text h3 br {
        display: none
    }
}

@media (min-width:1024px) {
    .about-text h3 {
        width: 700px
    }
}

@media (min-width:1199px) {
    .about-text {
        width: 40%;
        padding: 0 3.5%;
        margin-left: auto
    }

    .about-text h3 {
        width: 440px;
        color: #fff
    }

    .about-text p {
        color: #fff;
        text-align: justify;
        text-indent: 15px;
    }
}

.page-footer {
    background-color: #191919;
    color: #fff
}

.page-footer__contacts {
    padding: 0 7.5%
}

.page-footer__contacts p {
    margin: 0;
    padding: 20px 0 15px;
    font-size: 24px;
    text-align: center
}

.contacts__phone {
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-bottom: 20px
}

.contacts__mail {
    display: block;
    padding-bottom: 15px;
    color: #fff;
    text-align: center
}

.social__list {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.social__list .social__item {
    width: 33.3%;
    border-top: 1px solid #3f3f3f;
    border-bottom: 1px solid #3f3f3f;
    box-sizing: border-box
}

.social__list .social__item:hover {
    border-color: #545454
}

.social__list .social__item:active {
    border-color: #252525;
    background-color: #252525
}

.social__link {
    display: block;
    height: 99px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center
}

.social__link--work-ua {
    background-size: 150px;
    background-image: url(../../img/icon-work.ua.png);
    border-left: 1px solid #3f3f3f;
}

.social__link--work-ua:active {
    border-left: 1px solid #252525
}

.social__link--telegram {
    background-size: 40px;
    background-image: url(../../img/icon-telegram.svg);
    background-position: 48% 46%;
    border-left: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f
}

.social__link--linkedin {
    background-size: 36px 36px;
    background-image: url(../../img/icon-linkedin.svg);
    background-position: 45% 49%;
    border-right: 1px solid #3f3f3f
}

.social__link--linkedin:active {
    border-right: 1px solid #252525
}

.page-footer__copyright {
    padding: 0 7.5%;
    padding-bottom: 20px
}

.copyright__text {
    display: block;
    padding: 20px 0;
    font-weight: 400;
    font-size: 24px;
    text-align: center
}

@media (min-width:660px) {
    .page-footer__social {
        box-sizing: border-box;
        width: 640px;
        margin: 0 auto
    }

    .page-footer__copyright {
        box-sizing: border-box;
        width: 560px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 20px
    }
}

@media (min-width:1024px) {
    .page-footer__social {
        width: 870px;
        padding: 20px 0
    }

    .page-footer__copyright {
        width: 770px
    }
}

@media (min-width:1199px) {
    .page-footer {
        height: 100%;
        position: relative
    }

    .page-footer__wrapper {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around
    }

    .page-footer__copyright {
        order: 1;
        padding-bottom: 0;
        width: 900px
    }

    .page-footer__copyright .copyright__text {
        display: none
    }

    .page-footer__social {
        order: 3;
        width: 950px
    }

    .page-footer__contacts {
        order: 2;
        padding-bottom: 0
    }

    .page-footer__contacts p {
        font-size: 32px;
        padding-bottom: 18px
    }

    .page-footer__contacts a {
        font-size: 20px
    }
}
