/*
Error: Undefined variable: "$tablet-width".
        on line 140 of D:/CSS & HTML/Barber_Shop_2/sass/index__news.scss

135: 
136: .news__close {
137:   display: none;
138: }
139: 
140: @media (min-width: $tablet-width) {
141:   .news {
142:     border-bottom: 1px solid #e5ddd5;
143: 
144:     &::before {
145:       background-image: url(../img/corner-darkgray.svg);

Backtrace:
D:/CSS & HTML/Barber_Shop_2/sass/index__news.scss:140
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/script/tree/variable.rb:49:in `_perform'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/script/tree/node.rb:58:in `perform'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:543:in `block in run_interp_no_strip'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `map'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:541:in `run_interp_no_strip'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:548:in `run_interp'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:513:in `visit_media'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/stack.rb:79:in `block in with_base'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/stack.rb:115:in `with_frame'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/stack.rb:79:in `with_base'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/tree/root_node.rb:20:in `render'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/engine.rb:284:in `render'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
D:/Install/Koala/rubygems/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
D:/Install/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
D:/Install/Koala/rubygems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
D:/Install/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `call'
D:/Install/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
D:/Install/Koala/bin/compass:22:in `load'
D:/Install/Koala/bin/compass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$tablet-width\".\A         on line 140 of D:/CSS & HTML/Barber_Shop_2/sass/index__news.scss\A \A 135: \A 136: .news__close {\A 137:   display: none;\A 138: }\A 139: \A 140: @media (min-width: $tablet-width) {\A 141:   .news {\A 142:     border-bottom: 1px solid #e5ddd5;\A 143: \A 144:     &::before {\A 145:       background-image: url(../img/corner-darkgray.svg);"; }
