@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');

$whitegray: #f7f4f1;
$beige: #f8f5f2;
$lightgray: #4e4e4e;
$gray: #404040;
$darkgray: #353535;
$blackgray: #292929;
$veryblackgray: #242424;
$brown: #826550;
$darkbrown: #6a4d38;

$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

body {
  background-color: $beige;
  // font-family: "PT Sans Narrow", "", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont,"PT Sans Narrow", Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: $gray;
}

input,button,a {
  font: inherit;
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: 30px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 27px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $brown;
}

a:visited {
  color: inherit;
}

sup {
  font-size: 22px;
  padding-left: 8px;
  line-height: 10px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 18px;

  padding: 12px 0 13px;

  border: 1px solid #e5ddd5;
  color: #000000;


  &:hover {
    border-color: #d5cabe;
  }

  &:active {
    background-color: #d5c9bd;
    border-color: #d5cabe;
    color: #958c84;
  }
}
