.page-footer{
 .page-footer__wrapper {
   border: 1px solid #2a2a2a;
 }
}


@media (min-width: 768px) {
  .page-footer{
   .page-footer__wrapper {
     width: 83.4%;
     max-width: 1100px;
   }
  }

.page-footer__copyright {
  width: 25%;
  right: 0;
}

.social__link--facebook {
  background-position: 51% 46%;
}

.social__link--instagram {
  background-position: 50% 49%;
}
}
@media (min-width: $desktop-width) {
  .page-footer {
    .page-footer__wrapper {
      width: 960px;
    }
  }
  .page-footer__copyright {
   width: 160px;
  }
}
