.name {
  padding: 0 6.25%;
  min-height: 363px;

  label {
    display: block;
    margin: 0 auto;
    width: 84%;
    text-transform: uppercase;
    font-size: 14px;
    color: #d22856;
  }

  .input {
    margin-top: 11px;
    margin-bottom: 25px;
  }
}

@media(min-width: 660px) {
  .name {
    padding: 0 3%;
    min-height: 348px;
    order: 1;

    label {
      display: inline-block;
      width: 14.5%;
    }

    .input {
      margin-top: 28px;
      margin-bottom: 25px;
      display: inline-block;
      width: 84.8%;
    }

    .first-name {
      margin-left: -6.2%;
      width: 90.8%;
    }
  }

  .name__wrapper {
    max-width: 936px;
    margin: 0 auto;
  }
}
@media(min-width: 1200px) {
  .name {
    padding: 0;
    width: 457px;
    margin-right: 38px;
    margin-left: auto;
    label {
      width: 91px;
    }

    .input {
      width: 339px;
    }

    .first-name {
      margin-left: -40px;
      width: 379px;
    }
  }

  .name__wrapper {
    width: 435px;
    padding-top: 14px;
  }
}
