.feedback {
  padding: 0 6.25%; }
  .feedback b {
    display: block;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 42px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.15em;
    letter-spacing: 0.02em; }
    .feedback b span {
      display: none; }

@media (min-width: 660px) {
  .feedback {
    padding: 0 3%; }
    .feedback b {
      width: 87%;
      max-width: 800px;
      padding-top: 92px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 30px; }
      .feedback b span {
        display: inline; } }

@media (min-width: 1200px) {
  .feedback {
    padding: 0;
    margin: 0 auto;
    width: 100%; }
    .feedback b {
      width: 800px; }
      .feedback b span {
        display: inline; } }
