.user-contacts {
  padding: 0 6.25%;
  min-height: 247px; }
  .user-contacts legend {
    display: none; }

.user-contacts__fieldset {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  border: 0; }
  .user-contacts__fieldset label {
    display: block;
    margin: 0 auto;
    width: 84%;
    text-transform: uppercase;
    font-size: 14px;
    color: #d22856; }
  .user-contacts__fieldset .input {
    margin-top: 11px;
    margin-bottom: 25px; }

@media (min-width: 660px) {
  .user-contacts {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding: 0 3%; }
    .user-contacts legend {
      display: block;
      margin: 0 auto;
      width: 39%;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      color: #d22856; }
  .user-contacts__fieldset {
    max-width: 936px;
    margin: 0 auto;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    margin-top: 56px;
    min-height: 314px; }
    .user-contacts__fieldset label {
      width: 92%;
      position: relative;
      top: 119px; }
    .user-contacts__fieldset .input {
      display: block;
      margin: 0 auto;
      margin-top: 23px;
      margin-bottom: 30px;
      width: 100%;
      -webkit-box-shadow: inset -60px 0px #e5e5e5;
      box-shadow: inset -60px 0px #e5e5e5;
      position: relative; }
  .telephone-block,
  .address-block {
    display: block;
    width: 81%;
    margin: 0 auto;
    position: relative; }
    .telephone-block::after,
    .address-block::after {
      content: "";
      position: absolute;
      right: 22px;
      top: 61px;
      width: 20px;
      height: 19px;
      background-position: 0 0;
      background-repeat: no-repeat; }
  .telephone-block::after {
    background-image: url(../../img/icon-phone.svg);
    background-size: 20px 19px; }
  .address-block::after {
    background-image: url(../../img/icon-mail.svg);
    background-size: 20px 19px; } }

@media (min-width: 1200px) {
  .user-contacts {
    width: 100%;
    margin: 0;
    padding: 0; }
    .user-contacts form {
      width: 962px;
      margin: 0 auto; }
    .user-contacts legend {
      width: 260px; }
    .user-contacts label {
      top: 115px;
      width: 337px; }
  .user-contacts__fieldset {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 939px;
    max-width: 100%;
    min-height: 169px;
    margin-top: 33px;
    padding: 0 58px; }
    .user-contacts__fieldset .input {
      margin-top: 19px; }
  .telephone-block,
  .address-block {
    width: 374px; }
    .telephone-block::after,
    .address-block::after {
      top: 57px; }
  .telephone-block {
    float: left; }
  .address-block {
    float: right; } }
